<div class="container my-3">
  <div class="cards">
    <% @equipments.each do |eq| %>
      <%= link_to equipment_path(eq), class: "card-trip-link hvr-grow m-1" do %>
        <div class="card-trip">
          <%= image_tag "#{eq.picture_url}", width: 200 %>
          <div class="card-trip-infos">
            <div>
              <h2><%= eq.name.truncate(24) %></h2>
              <p><%= eq.location.truncate(28) %></p>
              <p><%= eq.description.truncate(28) %></p>
              <p>Category: <%= eq.category.truncate(28) %></p>
            </div>
            <h2 class="card-trip-pricing"><%= "$#{eq.price_day}/dia" %></h2>
            <img src="https://kitt.lewagon.com/placeholder/users/random" class="card-trip-user avatar-bordered" />
          </div>
          <hr>
          <div class="card-trip-infos">
            <div>
              <p>State: <%= eq.state.truncate(28) %></p>
              <p>Start date: <%= eq.start_date %></p>
              <p>End date: <%= eq.end_date %></p>
              <p>Created: <%= eq.created_at %></p>
              <p>Updated: <%= eq.updated_at %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
