<p><%= @equipment.name %></p>
<p><%= @equipment.description %></p>
<p>Price per hour: <%= @equipment.price_hour %></p>
<p>Price per day: <%= @equipment.price_day %></p>
<%= image_tag "#{eq.picture_url}", width: 200 %>
<!-- Route for new booking remaining <%= link_to Book now %> -->

