<div>
  <div class="row">
    <div class="col-sm-12 col-md-7 col-lg-7 mx-3 mt-3 pr-3">
      <%= image_tag "#{@equipment.picture_url}", class:"w-100", style:"border-radius: 6px"%>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4 mx-3 mt-3">
      <div class="card-trip" style="border-radius: 5px">
        <div class="mx-4 my-3">
          <h2><%= @equipment.name %></h2>
          <p class="my-3"><%= @equipment.location %></p>
          <hr>
          <p class="my-3"><%= @equipment.description %></p>
          <p class="my-3">Owner: <%= @equipment.owner.email %></p>
          <h2 class="card-trip-pricing"><strong>$<%= @equipment.price_day %>/día</strong></h2>

          <div class="my-4">
            <% if policy(@equipment).update? %>
              <%= link_to edit_equipment_path(@equipment) do %><i class="fa fa-edit"></i><% end %>
              <%= link_to equipment_path(@equipment), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fa fa-trash destroy_dose"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <!-- Owner can't book their equipments -->
      <% if current_user %>
        <% if current_user.id != @equipment.user_id %>
          <div class="mt-3 p-3" style="border-radius: 5px; box-shadow: 0 0 15px rgba(0,0,0,0.2);">
            <%= simple_form_for [@equipment, @booking] do |f| %>
              <%= f.input :start_date, as: :date %>
              <%= f.input :end_date, as: :date %>
              <%= f.submit "Reservar", class: "form-control btn btn-outline-dark" %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p class="mt-3"> Please <%= link_to "log in", new_user_session_path %> before booking </p>
      <%end %>
    </div>
  </div>
</div>
