<div class="container mt-3">

  <div class="card-trip">

    <%= image_tag "#{@equipment.picture_url}", width: 200 %>
    <div class="mx-4 my-3">
      <h2><%= @equipment.name %></h2>
      <p class="my-3"><%= @equipment.location %></p>
      <hr>
      <p class="my-3"><%= @equipment.description %></p>
      <h2 class="card-trip-pricing"><strong>$<%= @equipment.price_day %>/día</strong></h2>

      <div class="my-4">
        <%= link_to "Reservar", new_equipment_booking_path(@equipment), class: "btn btn-ghost" %>
        <%= link_to edit_equipment_path(@equipment) do %><i class="fa fa-edit"></i><% end %>
        <%= link_to equipment_path(@equipment), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fa fa-trash destroy_dose"></i>
        <% end %>
      </div>

    </div>

  </div>
</div>
