<!-- _booking_grid.html.erb -->
<div class="cards-booking bg-white p-3">
  <% bookings.each do |book| %>
    <%= link_to booking_path(book), class: "card-trip-link hvr-grow-s m-1" do %>
    <div class="card-product-booking">
      <%= image_tag "#{book.equipment.picture_url}", width: 200 %>
        <div class="card-product-infoss">
          <h2><%= book.equipment.name %></h2>
          <% if current_user == book.renter  %>
            <p><strong>Dueño:</strong> <%= book.owner.email %></p>
          <% elsif current_user == book.owner %>
            <p><strong>Soicitante:</strong> <%= book.renter.email %></p>
          <% end %>
          <p><strong>Inicio de alquiler:</strong> <%= book.start_date %></p>
          <p><strong>Fin de alquiler:</strong> <%= book.end_date %></p>
          <p><strong>Precio:</strong> $<%= book.total_price %></p>
          <% if book.state == 'PENDING' %>
            <h4 class="text-center font-weight-bold text-primary pt-3">PENDIENTE</h4>
          <% elsif book.state == 'BOOKED' %>
            <h4 class="text-center font-weight-bold text-success pt-3">APROBADO</h4>
          <% elsif book.state == 'REJECTED' %>
            <h4 class="text-center font-weight-bold text-danger pt-3">RECHAZADO</h4>
          <% elsif book.state == 'CANCELLED' %>
            <h4 class="text-center font-weight-bold text-muted pt-3">CANCELADO</h4>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

