<div class="cards">
  <% @bookings.each do |book| %>
    <div class="card">
      <p>Equipment: <%= book.equipment %></p>
      <p>Owner: <%= book.owner %></p>
      <p>Renter: <%= book.renter %></p>
      <p>Start date: <%= book.start_date %></p>
      <p>End date: <%= book.end_date %></p>
      <p>End date: <%= book.end_date %></p>
      <p>Total price: US$<%= book.total_price %></p>

      <%= image_tag "#{book.equipment.picture_url}", width: 200 %>
    </div>
  <% end %>
</div>
