<div class="cards-booking my-3 mx-3">

    <% @bookings.each do |book| %>

      <div class="card-product-booking">
        <%= image_tag "#{book.equipment.picture_url}", width: 200 %>

        <div class="card-product-infos-booking">
          <h2><%= book.equipment.name %></h2>
          <p><strong>Owner:</strong> <%= book.owner.email %></p>
          <p><strong>Renter:</strong> <%= book.renter.email %></p>
          <p><strong>Start date:</strong> <%= book.start_date %></p>
          <p><strong>End date:</strong> <%= book.end_date %></p>
          <p><strong>Total price:</strong> US$<%= book.total_price %></p>
        </div>

      </div>

    <% end %>

</div>
