<div>
  <h1 class="text-center mt-3"> Confirmar solicitud de reserva </h1>
  <div class="row">
    <div class="col-sm-12 col-md-7 col-lg-7 mx-3 mt-3 pr-3">
      <%= image_tag "#{@booking.equipment.picture_url}", class:"w-100", style:"border-radius: 6px"%>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4 mx-3 mt-3">
      <div class="card-trip" style="border-radius: 5px">
        <div class="mx-4 my-3">
          <h2 class="text-center mb-3"  style="font-size: 24px"><strong><%= @booking.equipment.name %></strong></h2>
          <hr>
          <p class="mt-4 pl-4" style="font-size: 18px"><strong>Owner:</strong> <%= @booking.owner.email %></p>
          <p class="pl-4" style="font-size: 18px"><strong>Renter:</strong> <%= @booking.renter.email %></p>
          <p class="pl-4" style="font-size: 18px"><strong>Start date:</strong> <%= @booking.start_date %></p>
          <p class="pl-4" style="font-size: 18px"><strong>End date:</strong> <%= @booking.end_date %></p>
          <p class="mb-3 pl-4" style="font-size: 18px"><strong>State:</strong> <%= @booking.state %></p>
          <p class="mb-3 pl-4" style="font-size: 18px"><strong>Total Price:</strong> US$<%= @booking.total_price %></p>

            <!-- Review form -->
            <%= simple_form_for [@booking, @review] do |f| %>
              <%= f.input :content %>
              <%= f.input :rating, label:"rating", collection: 1..5 %>
              <%= f.submit "Publicar", class:"btn btn-primary" %>
            <% end %>
            <!----------------->

          <% if @booking.state == "PENDING" %>

            <% if  policy(@booking).accept?%>
              <%= link_to accept_booking_path(@booking), method: "GET", data: { confirm: "Are you sure you want to accept this booking?" }, class:"ml-3"  do %>
               <i class="far fa-check-circle pl-4 my-4" style="color: green; font-size: 32px"></i>
              <% end %>
            <% end %>

            <% if  policy(@booking).reject?%>
              <%= link_to reject_booking_path(@booking), method: "GET", data: { confirm: "Are you sure you want to reject this booking?" }, class:"ml-3"  do %>
               <i class="fas fa-times-circle pl-4 my-4" style ="color: orange; font-size: 32px"></i>
              <% end %>
            <% end %>

            <% if  policy(@booking).cancel?%>
              <%= link_to cancel_booking_path(@booking), method: "GET", data: { confirm: "Are you sure you want to cancel this booking?" }, class:"ml-3"  do %>
               <i class="fas fa-times-circle pl-4 my-4" style ="color: orange; font-size: 32px"></i>
              <% end %>
            <% end %>

          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
